body{
    background-color: rgb(76, 44, 105);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.wrong-letters {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: absolute;

    h1 {
        font-size: 1rem;
        color: black;
    }
}

#gamecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 50rem;
    background: lightgrey;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
}

.guess-area {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#word-container{
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
    justify-content: center;
}

.word-display{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 30px;
}

.word-display .letter{
    min-height: 30px;
    width: 28px;
    border-bottom: 3px solid #000000;
    font-size: large;
}

#letters-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#letters-container .letter{ /*Styling av bokstäverna */
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 1.5em;
    border: 2px solid rgb(68, 9, 102);
    border-radius: 6px;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.3s, color 0.3;

}
#letters-container .letter:hover{
    background-color: rgb(164, 102, 170);
}

#letters-container .letter.disabled{ /*När bokstaven redan har använts så blir den grå */
    background-color: gray;
    cursor: not-allowed;
}

p{
    color: black;
}

#new-game {
    background-color: rgb(220, 187, 252);
    height: 5vh;
    width: 10vw;
    color: rgb(44, 21, 44);
    font-family: sans-serif;
    font-weight: 800;
    border: solid black;
    border-radius: 0.5rem;
}


input {
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.4rem;
    border: none;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

#verify-btn {
    padding: 1rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(219, 187, 252);
    color: rgb(44, 21, 44);
    font-family: sans-serif;
    font-weight: 800;
    border: solid black;
    border-radius: 0.5rem;
}

#you-won-popup {
    visibility: hidden;
    position: absolute;
    margin-top: 15rem;
    width: 20rem;
    border-radius: 0.4rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 6rem;
        height: 3rem;
        border-radius: 0.4rem;
        border: none;
        background-color: rgb(218, 187, 254);
    }
}

#you-lost-popup {
    visibility: hidden;
    position: absolute;
    margin-top: 15rem;
    width: 20rem;
    border-radius: 0.4rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 6rem;
        height: 3rem;
        border-radius: 0.4rem;
        border: none;
        background-color: rgb(218, 187, 254);
    }
}

/*Hänggubbe styling*/

.cls-1, .cls-2 {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    
  }

  .cls-3, .cls-4, .cls-5 {
    fill: #000;
    stroke-width: 0px;
  }

  .cls-4 {
    fill-rule: evenodd;
  }

  .cls-2 {
    stroke-linecap: round;
  }

  .cls-5 {
    fill-opacity: 0.1;
  }

  h1{
    color: purple
  }

  .wrong-letters{
    margin-top: 10rem;
    text-align: center;
    }

    #wrong-letters-output {
        color: grey;
        font-size: large;
    }